.vs
HR_Management.Application/bin
HR_Management.Application/obj
HR_Management.Domain/obj
HR_Management.Domain/bin
HR_Management.Persistence/obj/Debug
HR_Management.Infrastructure/bin/Debug
HR_Management.Infrastructure/obj/Debug
HR_Management.Persistence/bin/Debug
HR_Management.Infrastructure/obj
HR_Management.Api/obj/Debug
HR_Management.Api/bin/Debug
HR_Management.Application.UnitTests/bin
HR_Management.Application.UnitTests/obj
HR_Management.Api/obj
HR_Management.MVC/obj
HR_Management.MVC/bin
HR_Management.Persistence/obj
